body {
	position: relative;
}
.jumbotron {
	background-image: url(../img/car.jpg);
	 background-repeat: no-repeat;
	 color: white;
	 margin-top: 50px;
}

.jumbotron h1 {
	color: yellow;
}

#email {
	width: 300px;
}
#appSummary {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;

} 

#appstore {
	width: 200px
}
#footer {
	background-color: aqua; 
	padding-top: 150px;
	margin-top: 50px;
	text-align: center;
	padding-bottom: 150px;
}